# Ignore folders and its contents
/bin/
/Include/
/Lib/
/Scripts/
/share/
/-v/
/_check/
/.venv/
/.vscode/
/__position/
/__profile/
/img/

# Ignore specific files
analyses.py

# Ignore files with extension
*.cfg
*.svg
*.exe
*.spec
*.pyc


# Ignore .env files (but not .env.example)
*.env
!.env.example

chromedriver/*
!chromedriver/.gitkeep